<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="container">
        <h2>Don't Contact Us...but if you have to use this form.</h2>
        <div>
            <label>Email address</label>
            <input type="email" class="form-control"  />
        </div>

        <div>
            <label>Your Name</label>
            <input type="text" class="form-control" />
        </div>

        <div>
            <label>Message</label>
            <textarea class="form-control"></textarea>
        </div>
    </div>

</body>
</html>