<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Recipe List</h2>

<table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Ingredients</td>
        <td>Directions</td>
        <td>Pairings</td>
        <td>Servings</td>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="recipe in recipes">
        <td>{{ recipe.title }}</td>
        <td>{{ recipe.description }}</td>
        <td>{{recipe.directions}}</td>
        <td>{{recipe.ingredients}}</td>
        <td>{{recipe.pairings}}</td>
        <td>{{recipe.servings}}</td>
    </tr>

    </tbody>
</table>

</body>
</html>